.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
    padding: 1em;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 3em 3em;
    font-size: 1em;
  }
